<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <molliepay>
                <active>1</active>
                <model>Magentodaemon\Payment\Model\Molliepay</model>
                <order_status>pending</order_status>
                <title>Molliepay</title>
                <allowspecific>0</allowspecific>
                <group>magentodaemon_molliepay</group>
            </molliepay>
		</payment>
	</default>
</config>	
      	